.aboutHeader {
    min-height: 50vh;
    background-color: #9849e9;
    font-size: 2rem;
    padding: 8rem 0;
    text-align: center;
}


[data-theme='light'] .aboutHeader {
    background-color: var(--ifm-color-primary-lightest);
}

.aboutHeader h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.team {
    min-height: 50vh;
    text-align: center;
    padding-top: 2rem;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.teamList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teamMember {
    width: 16rem;
    margin-bottom: 4rem;
}

.teamMember h3 {
    font-size: 1.5rem;
}

.teamMember img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin: 1.5rem auto 1rem auto;
    border-radius: 2rem;
}
